### 20251124

#### import library

In [1]:
#########################
# 변경자: 소희
# 변경일자: 25.11.25
# 변경내용: 
# 1. 필요한 라이브러리 추가 호출 및 정리
# 2. commit 연습
#########################

#초기 설정및 시스템 라이브러리
import platform
import warnings

# 데이터 시각화 라이브러리
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
from datetime import datetime, timedelta
print(platform.system())
warnings.filterwarnings('ignore')

# 행,열,결과값 생략 없이 보기,세팅
pd.set_option('display.max_columns', 50)
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_colwidth', None)

# 시각화 OS별 한글폰트 설정
if platform.system() == 'Windows':
    plt.rcParams['font.family'] = 'Malgun Gothic'  # Windows 폰트 설정
elif platform.system() == 'Mac':
    plt.rcParams['font.family'] = 'AppleGothic'  # Mac 폰트 설정

Darwin

#### Load files

In [2]:
#########################
# 변경자: 소희
# 변경일자: 25.11.25
# 변경내용: 
# 1. csv파일은 용량이 너무 커서 폴더생성(./data/)하여 gitignore에 추가하는 것 추천.
#########################

# Load Files
Acquisitions = pd.read_csv("./data/acquisitions.csv")
Degrees = pd.read_csv("./data/degrees.csv")
FundingRounds = pd.read_csv("./data/funding_rounds.csv")
Funds = pd.read_csv("./data/funds.csv")
Investments = pd.read_csv("./data/investments.csv")
Ipos = pd.read_csv("./data/ipos.csv")
Milestones = pd.read_csv("./data/milestones.csv")
Objects = pd.read_csv("./data/objects.csv")
Offices = pd.read_csv("./data/offices.csv")
People = pd.read_csv("./data/people.csv")
Relationships = pd.read_csv("./data/relationships.csv")

print("="*60)
print("Dataset 로드 완료!")
print("="*60)

============================================================
Dataset 로드 완료!
============================================================

In [3]:
#########################
# 변경자: 소희
# 변경일자: 25.11.25
# 변경내용: 
# 1. columns()를 columns로 변경
# 2. 한 cell output에서 확인하기 위해 display적용 
#########################

display(Acquisitions.columns)
display(Degrees.columns)
display(FundingRounds.columns)
display(Funds.columns)

Index(['id', 'acquisition_id', 'acquiring_object_id', 'acquired_object_id',
       'term_code', 'price_amount', 'price_currency_code', 'acquired_at',
       'source_url', 'source_description', 'created_at', 'updated_at'],
      dtype='object')

Index(['id', 'object_id', 'degree_type', 'subject', 'institution',
       'graduated_at', 'created_at', 'updated_at'],
      dtype='object')

Index(['id', 'funding_round_id', 'object_id', 'funded_at',
       'funding_round_type', 'funding_round_code', 'raised_amount_usd',
       'raised_amount', 'raised_currency_code', 'pre_money_valuation_usd',
       'pre_money_valuation', 'pre_money_currency_code',
       'post_money_valuation_usd', 'post_money_valuation',
       'post_money_currency_code', 'participants', 'is_first_round',
       'is_last_round', 'source_url', 'source_description', 'created_by',
       'created_at', 'updated_at'],
      dtype='object')

Index(['id', 'fund_id', 'object_id', 'name', 'funded_at', 'raised_amount',
       'raised_currency_code', 'source_url', 'source_description',
       'created_at', 'updated_at'],
      dtype='object')

In [4]:
#########################
# 변경자: 수아
# 변경일자: 25.11.25
# 변경내용: 
# 1. 각 테이블 info() 확인
#########################

display(Acquisitions.info())
display(Degrees.info())
display(FundingRounds.info())
display(Funds.info())
display(Investments.info())
display(Ipos.info())
display(Milestones.info())
display(Objects.info())
display(Offices.info())
display(People.info())
display(Relationships.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9562 entries, 0 to 9561
Data columns (total 12 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   id                   9562 non-null   int64
 1   acquisition_id       9562 non-null   int64
 2   acquiring_object_id  9562 non-null   object
 3   acquired_object_id   9561 non-null   object
 4   term_code            1906 non-null   object
 5   price_amount         9562 non-null   float64
 6   price_currency_code  9558 non-null   object
 7   acquired_at          9533 non-null   object
 8   source_url           8566 non-null   object
 9   source_description   8590 non-null   object
 10  created_at           9562 non-null   object
 11  updated_at           9562 non-null   object
dtypes: float64(1), int64(2), object(9)
memory usage: 896.6+ KB

None

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 109610 entries, 0 to 109609
Data columns (total 8 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   id            109610 non-null  int64
 1   object_id     109610 non-null  object
 2   degree_type   98389 non-null   object
 3   subject       81298 non-null   object
 4   institution   109555 non-null  object
 5   graduated_at  58054 non-null   object
 6   created_at    109610 non-null  object
 7   updated_at    109610 non-null  object
dtypes: int64(1), object(7)
memory usage: 6.7+ MB

None

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52928 entries, 0 to 52927
Data columns (total 23 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   id                        52928 non-null  int64
 1   funding_round_id          52928 non-null  int64
 2   object_id                 52928 non-null  object
 3   funded_at                 52680 non-null  object
 4   funding_round_type        52928 non-null  object
 5   funding_round_code        52928 non-null  object
 6   raised_amount_usd         52928 non-null  float64
 7   raised_amount             52928 non-null  float64
 8   raised_currency_code      49862 non-null  object
 9   pre_money_valuation_usd   52928 non-null  float64
 10  pre_money_valuation       52928 non-null  float64
 11  pre_money_currency_code   26883 non-null  object
 12  post_money_valuation_usd  52928 non-null  float64
 13  post_money_valuation      52928 non-null  float64
 14  post_money_currency_code  30448 non-null  object
 15  participants              52928 non-null  int64
 16  is_first_round            52928 non-null  int64
 17  is_last_round             52928 non-null  int64
 18  source_url                40382 non-null  object
 19  source_description        43439 non-null  object
 20  created_by                48291 non-null  object
 21  created_at                52928 non-null  object
 22  updated_at                52928 non-null  object
dtypes: float64(6), int64(5), object(12)
memory usage: 9.3+ MB

None

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1564 entries, 0 to 1563
Data columns (total 11 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    1564 non-null   int64
 1   fund_id               1564 non-null   int64
 2   object_id             1564 non-null   object
 3   name                  1564 non-null   object
 4   funded_at             1449 non-null   object
 5   raised_amount         1564 non-null   float64
 6   raised_currency_code  1564 non-null   object
 7   source_url            1272 non-null   object
 8   source_description    1218 non-null   object
 9   created_at            1564 non-null   object
 10  updated_at            1564 non-null   object
dtypes: float64(1), int64(2), object(8)
memory usage: 134.5+ KB

None

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 80902 entries, 0 to 80901
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   id                  80902 non-null  int64
 1   funding_round_id    80902 non-null  int64
 2   funded_object_id    80902 non-null  object
 3   investor_object_id  80902 non-null  object
 4   created_at          80902 non-null  object
 5   updated_at          80902 non-null  object
dtypes: int64(2), object(4)
memory usage: 3.7+ MB

None

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1259 entries, 0 to 1258
Data columns (total 13 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   id                       1259 non-null   int64
 1   ipo_id                   1259 non-null   int64
 2   object_id                1254 non-null   object
 3   valuation_amount         1259 non-null   float64
 4   valuation_currency_code  1257 non-null   object
 5   raised_amount            1259 non-null   float64
 6   raised_currency_code     699 non-null    object
 7   public_at                659 non-null    object
 8   stock_symbol             1259 non-null   object
 9   source_url               191 non-null    object
 10  source_description       180 non-null    object
 11  created_at               1259 non-null   object
 12  updated_at               1259 non-null   object
dtypes: float64(2), int64(2), object(9)
memory usage: 128.0+ KB

None

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39456 entries, 0 to 39455
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   id                  39456 non-null  int64
 1   object_id           39456 non-null  object
 2   milestone_at        39456 non-null  object
 3   milestone_code      39456 non-null  object
 4   description         39456 non-null  object
 5   source_url          31401 non-null  object
 6   source_description  29268 non-null  object
 7   created_at          39456 non-null  object
 8   updated_at          39456 non-null  object
dtypes: int64(1), object(8)
memory usage: 2.7+ MB

None

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 462651 entries, 0 to 462650
Data columns (total 40 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   id                   462651 non-null  object
 1   entity_type          462651 non-null  object
 2   entity_id            462651 non-null  int64
 3   parent_id            27715 non-null   object
 4   name                 462647 non-null  object
 5   normalized_name      462620 non-null  object
 6   permalink            462651 non-null  object
 7   category_code        123186 non-null  object
 8   status               462651 non-null  object
 9   founded_at           100441 non-null  object
 10  closed_at            2809 non-null    object
 11  domain               174942 non-null  object
 12  homepage_url         174942 non-null  object
 13  twitter_username     126089 non-null  object
 14  logo_url             208850 non-null  object
 15  logo_width           462651 non-null  int64
 16  logo_height          462651 non-null  int64
 17  short_description    7617 non-null    object
 18  description          95005 non-null   object
 19  overview             235235 non-null  object
 20  tag_list             106496 non-null  object
 21  country_code         95043 non-null   object
 22  state_code           54760 non-null   object
 23  city                 90684 non-null   object
 24  region               462651 non-null  object
 25  first_investment_at  16956 non-null   object
 26  last_investment_at   16956 non-null   object
 27  investment_rounds    462651 non-null  int64
 28  invested_companies   462651 non-null  int64
 29  first_funding_at     31507 non-null   object
 30  last_funding_at      31507 non-null   object
 31  funding_rounds       462651 non-null  int64
 32  funding_total_usd    462651 non-null  float64
 33  first_milestone_at   100358 non-null  object
 34  last_milestone_at    100358 non-null  object
 35  milestones           462651 non-null  int64
 36  relationships        462651 non-null  int64
 37  created_by           339486 non-null  object
 38  created_at           462591 non-null  object
 39  updated_at           462651 non-null  object
dtypes: float64(1), int64(8), object(31)
memory usage: 141.2+ MB

None

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 112718 entries, 0 to 112717
Data columns (total 15 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   id            112718 non-null  int64
 1   object_id     112718 non-null  object
 2   office_id     112718 non-null  int64
 3   description   68530 non-null   object
 4   region        112718 non-null  object
 5   address1      94430 non-null   object
 6   address2      44520 non-null   object
 7   city          107550 non-null  object
 8   zip_code      93230 non-null   object
 9   state_code    62017 non-null   object
 10  country_code  112718 non-null  object
 11  latitude      112718 non-null  float64
 12  longitude     112718 non-null  float64
 13  created_at    0 non-null       float64
 14  updated_at    0 non-null       float64
dtypes: float64(4), int64(2), object(9)
memory usage: 12.9+ MB

None

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 226709 entries, 0 to 226708
Data columns (total 6 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   id                226709 non-null  int64
 1   object_id         226709 non-null  object
 2   first_name        226700 non-null  object
 3   last_name         226705 non-null  object
 4   birthplace        28084 non-null   object
 5   affiliation_name  226684 non-null  object
dtypes: int64(1), object(5)
memory usage: 10.4+ MB

None

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 402878 entries, 0 to 402877
Data columns (total 11 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   id                      402878 non-null  int64
 1   relationship_id         402878 non-null  int64
 2   person_object_id        402878 non-null  object
 3   relationship_object_id  402878 non-null  object
 4   start_at                206995 non-null  object
 5   end_at                  101046 non-null  object
 6   is_past                 402878 non-null  int64
 7   sequence                402878 non-null  int64
 8   title                   389526 non-null  object
 9   created_at              402878 non-null  object
 10  updated_at              402878 non-null  object
dtypes: int64(4), object(7)
memory usage: 33.8+ MB

None

In [ ]:
print("Hello")
print("Hello")

Hello
Hello