In [1]:
import pandas as pd

In [2]:

# Load Files
Acquisitions = pd.read_csv("./data/acquisitions.csv")
Degrees = pd.read_csv("./data/degrees.csv")
FundingRounds = pd.read_csv("./data/funding_rounds.csv")
Funds = pd.read_csv("./data/funds.csv")
Investments = pd.read_csv("./data/investments.csv")
Ipos = pd.read_csv("./data/ipos.csv")
Milestones = pd.read_csv("./data/milestones.csv")
Objects = pd.read_csv("./data/objects.csv")
Offices = pd.read_csv("./data/offices.csv")
People = pd.read_csv("./data/people.csv")
Relationships = pd.read_csv("./data/relationships.csv")

print("="*60)
print("Dataset 로드 완료!")
print("="*60)

/var/folders/59/zj68531j46j58_ylcbpsyxl80000gn/T/ipykernel_23284/227045165.py:9: DtypeWarning: Columns (3,7,9,10,17,18,21,22,23,25,26,29,30,37) have mixed types. Specify dtype option on import or set low_memory=False.
  Objects = pd.read_csv("./data/objects.csv")

============================================================
Dataset 로드 완료!
============================================================

In [45]:
Objects['entity_type'].unique()

array(['Company', 'FinancialOrg', 'Person', 'Product'], dtype=object)

In [54]:
Investments

,id,funding_round_id,funded_object_id,investor_object_id,created_at,updated_at
0,1,1,c:4,f:1,2007-07-04 04:52:57,2008-02-27 23:14:29
1,2,1,c:4,f:2,2007-07-04 04:52:57,2008-02-27 23:14:29
2,3,3,c:5,f:4,2007-05-27 06:09:10,2013-06-28 20:07:23
3,4,4,c:5,f:1,2007-05-27 06:09:36,2013-06-28 20:07:24
4,5,4,c:5,f:5,2007-05-27 06:09:36,2013-06-28 20:07:24
...,...,...,...,...,...,...
80897,80898,57882,c:285244,p:267312,2013-12-12 10:41:27,2013-12-12 12:51:16
80898,80899,57912,c:60389,p:268570,2013-12-12 12:32:53,2013-12-12 13:02:54
80899,80900,57929,c:286183,p:365,2013-12-12 13:07:40,2013-12-12 13:07:40
80900,80901,57929,c:286183,p:176466,2013-12-12 13:07:40,2013-12-12 13:07:40
80901,80902,57929,c:286183,p:268577,2013-12-12 13:07:40,2013-12-12 13:07:40

In [56]:
FundingRounds

,id,funding_round_id,object_id,funded_at,funding_round_type,funding_round_code,raised_amount_usd,raised_amount,raised_currency_code,pre_money_valuation_usd,...,post_money_valuation,post_money_currency_code,participants,is_first_round,is_last_round,source_url,source_description,created_by,created_at,updated_at
0,1,1,c:4,2006-12-01,series-b,b,8500000.0,8500000.0,USD,0.0,...,0.0,NaN,2,0,0,http://www.marketingvox.com/archives/2006/12/2...,NaN,initial-importer,2007-07-04 04:52:57,2008-02-27 23:14:29
1,2,2,c:5,2004-09-01,angel,angel,500000.0,500000.0,USD,0.0,...,0.0,USD,2,0,1,NaN,NaN,initial-importer,2007-05-27 06:08:18,2013-06-28 20:07:23
2,3,3,c:5,2005-05-01,series-a,a,12700000.0,12700000.0,USD,115000000.0,...,0.0,USD,3,0,0,http://www.techcrunch.com/2007/11/02/jim-breye...,Jim Breyer: Extra $500 Million Round For Faceb...,initial-importer,2007-05-27 06:09:10,2013-06-28 20:07:23
3,4,4,c:5,2006-04-01,series-b,b,27500000.0,27500000.0,USD,525000000.0,...,0.0,USD,4,0,0,http://www.facebook.com/press/info.php?factsheet,Facebook Funding,initial-importer,2007-05-27 06:09:36,2013-06-28 20:07:24
4,5,5,c:7299,2006-05-01,series-b,b,10500000.0,10500000.0,USD,0.0,...,0.0,NaN,2,0,0,http://www.techcrunch.com/2006/05/14/photobuck...,PhotoBucket Closes $10.5M From Trinity Ventures,initial-importer,2007-05-29 11:05:59,2008-04-16 17:09:12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52923,57948,57948,c:211890,2013-12-12,series-a,a,3000000.0,3000000.0,USD,0.0,...,0.0,USD,1,1,1,http://techcrunch.com/2013/12/12/bitstrips-ser...,"Bitstrips Confirms $3M Series A From Horizons,...",amit2013,2013-12-12 14:12:05,2013-12-12 14:12:05
52924,57949,57949,c:267427,2010-02-06,venture,partial,570000.0,570000.0,USD,0.0,...,0.0,USD,0,0,1,http://www.sec.gov/Archives/edgar/data/1434188...,SEC,santosh2013,2013-12-12 14:13:11,2013-12-12 14:13:11
52925,57950,57950,c:261728,2010-02-06,venture,unattributed,2184100.0,2184100.0,USD,0.0,...,0.0,USD,0,0,1,http://www.sec.gov/Archives/edgar/data/1335158...,SEC,santosh2013,2013-12-12 14:19:35,2013-12-12 14:19:35
52926,57951,57951,c:285864,2013-12-12,series-a,a,790783.0,790783.0,USD,0.0,...,0.0,USD,0,1,1,http://www.startupticker.ch/en/news/december-2...,UrbanFarmers closes interim-investment round,amit2013,2013-12-12 14:23:49,2013-12-12 14:23:49
52927,57952,57952,c:286215,2010-04-07,venture,partial,271250.0,271250.0,USD,0.0,...,0.0,USD,0,1,1,http://www.sec.gov/Archives/edgar/data/1488680...,SEC,prasant2013,2013-12-12 14:27:53,2013-12-12 14:27:53

In [57]:
Funds

,id,fund_id,object_id,name,funded_at,raised_amount,raised_currency_code,source_url,source_description,created_at,updated_at
0,1,1,f:371,Second Fund,2008-12-16,300000000.0,USD,http://www.pehub.com/26194/dfj-dragon-raising-...,peHub,2008-12-17 03:07:16,2008-12-17 03:07:16
1,4,4,f:17,Sequoia Israel Fourth Fund,2008-12-17,200750000.0,USD,http://www.pehub.com/26725/sequoia-israel-rais...,Sequoia Israel Raises Fourth Fund,2008-12-18 22:04:42,2008-12-18 22:04:42
2,5,5,f:951,Tenth fund,2008-08-11,650000000.0,USD,http://venturebeat.com/2008/08/11/interwest-cl...,Venture Beat,2008-12-31 09:47:51,2008-12-31 09:47:51
3,6,6,f:192,New funds acquire,NaN,625000000.0,USD,http://venturebeat.com/2008/07/28/us-venture-p...,U.S. Venture Partners raises $625M fund for ne...,2009-01-01 18:13:44,2009-01-01 18:16:27
4,7,7,f:519,Third fund,2008-05-20,200000000.0,USD,http://venturebeat.com/2008/05/20/disneys-stea...,Venture Beat,2009-01-03 09:51:58,2013-09-03 16:34:54
...,...,...,...,...,...,...,...,...,...,...,...
1559,1697,1697,f:101,Fund V,2013-12-11,150000000.0,USD,http://pevc.dowjones.com/article?an=DJFVW00020...,BlueRun Raising $150M Fund V Aimed at U.S. Aft...,2013-12-11 12:57:22,2013-12-11 12:57:22
1560,1698,1698,f:7331,JANVEST Technologies LP I,2013-03-19,5.0,USD,http://www.globes.co.il/serveen/globes/docview...,JANVEST Technologies raises $5m Israel Angel fund,2013-12-11 21:32:25,2013-12-12 03:57:09
1561,1699,1699,f:7791,Fund II,2013-12-11,5000000.0,USD,http://www.bizjournals.com/portland/blog/2013/...,Portland Seed Fund ready to start investing af...,2013-12-12 07:15:56,2013-12-12 07:15:56
1562,1700,1700,f:15091,Fund I,2013-12-11,1100000.0,USD,http://bizbeatblog.dallasnews.com/2013/12/dall...,Dallas Angel Network closes $1 million investm...,2013-12-12 07:47:27,2013-12-12 07:47:27
1563,1701,1701,f:5920,Rochester Angel Fund,2013-12-12,2300000.0,USD,http://www.rbjdaily.com/article.asp?aID=204869,Angel Network to invest $2.3 million in area b...,2013-12-12 09:42:12,2013-12-12 09:42:12

In [53]:
FundingRounds['funding_round_code'].unique()

array(['b', 'angel', 'a', 'seed', 'c', 'd', 'unattributed', 'debt_round',
       'e', 'f', 'private_equity', 'grant', 'post_ipo_equity',
       'post_ipo_debt', 'partial', 'convertible', 'crowd', 'g',
       'secondary_market', 'crowd_equity'], dtype=object)

In [46]:
Degrees['degree_type'].value_counts()

degree_type
BS                                  23425
MBA                                 15342
BA                                  15342
MS                                  11715
PhD                                  4056
                                    ...
Production and Industrial Engine        1
Latin-Sciences                          1
Graphical Industry                      1
Engineering, Software                   1
bachelors                               1
Name: count, Length: 7147, dtype: int64

In [3]:
Relationships

,id,relationship_id,person_object_id,relationship_object_id,start_at,end_at,is_past,sequence,title,created_at,updated_at
0,1,1,p:2,c:1,NaN,NaN,0,8,Co-Founder/CEO/Board of Directors,2007-05-25 07:03:54,2013-06-03 09:58:46
1,2,2,p:3,c:1,NaN,NaN,1,279242,VP Marketing,2007-05-25 07:04:16,2010-05-21 16:31:34
2,3,3,p:4,c:3,NaN,NaN,0,4,Evangelist,2007-05-25 19:33:03,2013-06-29 13:36:58
3,4,4,p:5,c:3,2006-03-01,2009-12-01,1,4,Senior Director Strategic Alliances,2007-05-25 19:34:53,2013-06-29 10:25:34
4,6,6,p:7,c:4,2005-07-01,2010-04-05,1,1,Chief Executive Officer,2007-05-25 20:05:33,2010-04-05 18:41:41
...,...,...,...,...,...,...,...,...,...,...,...
402873,480903,480903,p:268527,c:286218,2005-01-01,2010-01-01,1,1,Sr. Consultant/Patent Agent,2013-12-12 14:35:35,2013-12-12 14:35:35
402874,480906,480906,p:268597,c:12612,NaN,NaN,0,1,"VP, GM & Editor In Chief - Clinical Decison Su...",2013-12-12 14:37:56,2013-12-12 14:37:56
402875,480907,480907,p:268528,c:286152,NaN,NaN,1,273049,Vice President,2013-12-12 14:39:36,2013-12-12 14:39:36
402876,480908,480908,p:268528,c:286220,NaN,NaN,1,1,"General Counsel, Director of Patents and Licen...",2013-12-12 14:39:48,2013-12-12 14:39:48
402877,480909,480909,p:268528,c:286221,NaN,NaN,1,1,Design Engineer,2013-12-12 14:40:04,2013-12-12 14:40:04

In [4]:
Objects[['first_investment_at', 'last_investment_at', 'investment_rounds',
       'invested_companies', 'first_funding_at', 'last_funding_at',
       'funding_rounds', 'funding_total_usd', 'first_milestone_at']]

,first_investment_at,last_investment_at,investment_rounds,invested_companies,first_funding_at,last_funding_at,funding_rounds,funding_total_usd,first_milestone_at
0,NaN,NaN,0,0,2005-10-01,2008-05-19,3,39750000.0,2010-09-05
1,NaN,NaN,0,0,NaN,NaN,0,0.0,NaN
2,NaN,NaN,0,0,NaN,NaN,0,0.0,2003-02-01
3,NaN,NaN,0,0,NaN,NaN,0,0.0,NaN
4,NaN,NaN,0,0,NaN,NaN,0,0.0,NaN
...,...,...,...,...,...,...,...,...,...
462646,NaN,NaN,0,0,NaN,NaN,0,0.0,NaN
462647,NaN,NaN,0,0,NaN,NaN,0,0.0,NaN
462648,NaN,NaN,0,0,NaN,NaN,0,0.0,NaN
462649,NaN,NaN,0,0,NaN,NaN,0,0.0,NaN
462650,NaN,NaN,0,0,NaN,NaN,0,0.0,NaN

In [5]:
Objects.columns

Index(['id', 'entity_type', 'entity_id', 'parent_id', 'name',
       'normalized_name', 'permalink', 'category_code', 'status', 'founded_at',
       'closed_at', 'domain', 'homepage_url', 'twitter_username', 'logo_url',
       'logo_width', 'logo_height', 'short_description', 'description',
       'overview', 'tag_list', 'country_code', 'state_code', 'city', 'region',
       'first_investment_at', 'last_investment_at', 'investment_rounds',
       'invested_companies', 'first_funding_at', 'last_funding_at',
       'funding_rounds', 'funding_total_usd', 'first_milestone_at',
       'last_milestone_at', 'milestones', 'relationships', 'created_by',
       'created_at', 'updated_at'],
      dtype='object')

In [27]:
Objects['entity_type'].unique()

array(['Company', 'FinancialOrg', 'Person', 'Product'], dtype=object)

In [7]:
Objects['entity_type'].value_counts()['Person']

np.int64(226708)

In [8]:
Objects[Objects['entity_type']=='FinancialOrg']

,id,entity_type,entity_id,parent_id,name,normalized_name,permalink,category_code,status,founded_at,...,last_funding_at,funding_rounds,funding_total_usd,first_milestone_at,last_milestone_at,milestones,relationships,created_by,created_at,updated_at
196553,f:1,FinancialOrg,1,NaN,Greylock Partners,greylock,/financial-organization/greylock,NaN,operating,1965-01-01,...,NaN,0,0.0,NaN,NaN,0,71,initial-importer,2007-05-25 20:18:23,2012-12-27 00:42:24
196554,f:10,FinancialOrg,10,NaN,Mission Ventures,mission ventures,/financial-organization/mission-ventures,NaN,operating,1996-01-01,...,NaN,0,0.0,NaN,NaN,0,11,initial-importer,2007-06-05 05:24:58,2013-10-10 22:06:31
196555,f:100,FinancialOrg,100,NaN,"Kapor Enterprises, Inc.",kapor enterprises,/financial-organization/kapor-enterprises-inc,NaN,operating,NaN,...,NaN,0,0.0,NaN,NaN,0,1,initial-importer,2007-07-12 09:42:21,2008-11-21 05:41:53
196556,f:1000,FinancialOrg,1000,NaN,Speed Ventures,speed ventures,/financial-organization/speed-ventures,NaN,operating,NaN,...,NaN,0,0.0,2002-05-27,2002-05-27,1,1,jason,2008-04-13 23:52:27,2008-12-10 09:37:18
196557,f:10000,FinancialOrg,10000,NaN,3x5 Special Opportunity Partners,3x5 special opportunity,/financial-organization/3x5-special-opportunit...,NaN,operating,NaN,...,NaN,0,0.0,NaN,NaN,0,0,timircha,2012-10-26 03:16:38,2012-10-26 03:16:38
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
208200,f:9995,FinancialOrg,9995,NaN,TxtLoan,txtloan,/financial-organization/txtloan,NaN,operating,2008-01-01,...,NaN,0,0.0,NaN,NaN,0,1,keithwerritty,2012-10-25 10:03:09,2013-06-26 13:06:29
208201,f:9996,FinancialOrg,9996,NaN,founder's Capital,founders,/financial-organization/founders-capital,NaN,operating,NaN,...,NaN,0,0.0,NaN,NaN,0,1,benjamin-bauer,2012-10-25 11:58:45,2012-11-03 22:41:25
208202,f:9997,FinancialOrg,9997,NaN,Axel Johnson,axel johnson,/financial-organization/axel-johnson,NaN,operating,1920-01-01,...,NaN,0,0.0,NaN,NaN,0,0,timircha,2012-10-25 11:59:57,2013-05-20 13:06:23
208203,f:9998,FinancialOrg,9998,NaN,Liberty City Ventures,liberty city ventures,/financial-organization/liberty-city-ventures,NaN,operating,2012-07-01,...,NaN,0,0.0,NaN,NaN,0,0,digitaldrex,2012-10-25 20:57:09,2013-11-12 15:33:24
208204,f:9999,FinancialOrg,9999,NaN,CalSTRS,calstrs,/financial-organization/calstrs,NaN,operating,1913-07-01,...,NaN,0,0.0,NaN,NaN,0,1,timircha,2012-10-26 00:50:44,2013-06-07 11:02:36

In [9]:
Objects['entity_type'].unique()[:10]
Objects['entity_type'].isnull().sum()

np.int64(0)

In [10]:
Objects.columns

Index(['id', 'entity_type', 'entity_id', 'parent_id', 'name',
       'normalized_name', 'permalink', 'category_code', 'status', 'founded_at',
       'closed_at', 'domain', 'homepage_url', 'twitter_username', 'logo_url',
       'logo_width', 'logo_height', 'short_description', 'description',
       'overview', 'tag_list', 'country_code', 'state_code', 'city', 'region',
       'first_investment_at', 'last_investment_at', 'investment_rounds',
       'invested_companies', 'first_funding_at', 'last_funding_at',
       'funding_rounds', 'funding_total_usd', 'first_milestone_at',
       'last_milestone_at', 'milestones', 'relationships', 'created_by',
       'created_at', 'updated_at'],
      dtype='object')

In [11]:
Investments['created_at'].unique()

array(['2007-07-04 04:52:57', '2007-05-27 06:09:10',
       '2007-05-27 06:09:36', ..., '2013-12-12 04:58:50',
       '2013-12-12 12:32:53', '2013-12-12 13:07:40'],
      shape=(32649,), dtype=object)

In [12]:
FundingRounds['funding_round_type'].unique()

array(['series-b', 'angel', 'series-a', 'series-c+', 'venture', 'other',
       'private-equity', 'post-ipo', 'crowdfunding'], dtype=object)

In [13]:
Funds.head()

,id,fund_id,object_id,name,funded_at,raised_amount,raised_currency_code,source_url,source_description,created_at,updated_at
0,1,1,f:371,Second Fund,2008-12-16,300000000.0,USD,http://www.pehub.com/26194/dfj-dragon-raising-...,peHub,2008-12-17 03:07:16,2008-12-17 03:07:16
1,4,4,f:17,Sequoia Israel Fourth Fund,2008-12-17,200750000.0,USD,http://www.pehub.com/26725/sequoia-israel-rais...,Sequoia Israel Raises Fourth Fund,2008-12-18 22:04:42,2008-12-18 22:04:42
2,5,5,f:951,Tenth fund,2008-08-11,650000000.0,USD,http://venturebeat.com/2008/08/11/interwest-cl...,Venture Beat,2008-12-31 09:47:51,2008-12-31 09:47:51
3,6,6,f:192,New funds acquire,NaN,625000000.0,USD,http://venturebeat.com/2008/07/28/us-venture-p...,U.S. Venture Partners raises $625M fund for ne...,2009-01-01 18:13:44,2009-01-01 18:16:27
4,7,7,f:519,Third fund,2008-05-20,200000000.0,USD,http://venturebeat.com/2008/05/20/disneys-stea...,Venture Beat,2009-01-03 09:51:58,2013-09-03 16:34:54

In [14]:
Milestones.head()

,id,object_id,milestone_at,milestone_code,description,source_url,source_description,created_at,updated_at
0,1,c:12,2008-06-09,other,Survives iPhone 3G Stevenote,http://www.techcrunch.com/2008/06/10/twitter-f...,"Twitter Fails To Fail, Community Rejoices",2008-06-18 08:14:06,2008-06-18 08:14:06
1,2,c:3138,2008-06-17,other,Twhirl announces support for Seesmic video pla...,http://www.inquisitr.com/1103/seesmic-now-avai...,Seesmic Now Available In Twhirl,2008-06-18 08:46:28,2008-06-18 08:46:28
2,3,c:59,2008-06-18,other,More than 4 Billion videos viewed at Google Si...,http://www.comscore.com/press/release.asp?pres...,11 Billion Videos Viewed Online in the U.S. in...,2008-06-18 08:50:24,2008-06-18 08:50:24
3,4,c:314,2008-06-18,other,Reddit goes Open Source,http://blog.reddit.com/2008/06/reddit-goes-ope...,reddit goes open source,2008-06-19 04:14:00,2008-06-19 04:14:00
4,5,c:314,2008-01-22,other,Adds the ability to create your own Reddits,http://www.techcrunch.com/2008/01/22/reddit-ad...,Reddit Adds Ability to Create Your Own âRedd...,2008-06-19 04:15:53,2008-06-19 04:15:53

In [15]:
Offices.columns

Index(['id', 'object_id', 'office_id', 'description', 'region', 'address1',
       'address2', 'city', 'zip_code', 'state_code', 'country_code',
       'latitude', 'longitude', 'created_at', 'updated_at'],
      dtype='object')

In [16]:
Offices.head()

,id,object_id,office_id,description,region,address1,address2,city,zip_code,state_code,country_code,latitude,longitude,created_at,updated_at
0,1,c:1,1,NaN,Seattle,710 - 2nd Avenue,Suite 1100,Seattle,98104,WA,USA,47.603122,-122.333253,NaN,NaN
1,2,c:3,3,Headquarters,SF Bay,4900 Hopyard Rd,Suite 310,Pleasanton,94588,CA,USA,37.692934,-121.904945,NaN,NaN
2,3,c:4,4,NaN,SF Bay,135 Mississippi St,NaN,San Francisco,94107,CA,USA,37.764726,-122.394523,NaN,NaN
3,4,c:5,5,Headquarters,SF Bay,1601 Willow Road,NaN,Menlo Park,94025,CA,USA,37.416050,-122.151801,NaN,NaN
4,5,c:7,7,NaN,SF Bay,Suite 200,654 High Street,Palo Alto,94301,CA,ISR,0.000000,0.000000,NaN,NaN

In [17]:
Offices.tail()

,id,object_id,office_id,description,region,address1,address2,city,zip_code,state_code,country_code,latitude,longitude,created_at,updated_at
112713,112714,f:15098,127846,NaN,New York,8 Sound Shore Drive,Suite 303,Greenwich,06830,CT,USA,0.0,0.0,NaN,NaN
112714,112715,c:286200,127847,NaN,Santa Barbara,735 State Street,Suite 500,Santa Barbara,93101,CA,USA,0.0,0.0,NaN,NaN
112715,112716,c:256895,127848,NaN,Los Angeles,"5777 W. Century Blvd., Suite 360",NaN,Los Angeles,90045,CA,USA,0.0,0.0,NaN,NaN
112716,112717,c:256200,127849,NaN,New York,420 LExington Avenue,NaN,New York,10170,NY,USA,0.0,0.0,NaN,NaN
112717,112718,c:286215,127850,NaN,SF Bay,2121 S. El Camino Real Suite C-120,NaN,San Mateo,94403,CA,USA,0.0,0.0,NaN,NaN

In [18]:
Offices['id'].head(20)

0      1
1      2
2      3
3      4
4      5
5      6
6      7
7      8
8      9
9     10
10    11
11    12
12    13
13    14
14    15
15    16
16    17
17    18
18    19
19    20
Name: id, dtype: int64

In [19]:
Offices.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 112718 entries, 0 to 112717
Data columns (total 15 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   id            112718 non-null  int64
 1   object_id     112718 non-null  object
 2   office_id     112718 non-null  int64
 3   description   68530 non-null   object
 4   region        112718 non-null  object
 5   address1      94430 non-null   object
 6   address2      44520 non-null   object
 7   city          107550 non-null  object
 8   zip_code      93230 non-null   object
 9   state_code    62017 non-null   object
 10  country_code  112718 non-null  object
 11  latitude      112718 non-null  float64
 12  longitude     112718 non-null  float64
 13  created_at    0 non-null       float64
 14  updated_at    0 non-null       float64
dtypes: float64(4), int64(2), object(9)
memory usage: 12.9+ MB

In [20]:
Offices.isna().sum()

id                   0
object_id            0
office_id            0
description      44188
region               0
address1         18288
address2         68198
city              5168
zip_code         19488
state_code       50701
country_code         0
latitude             0
longitude            0
created_at      112718
updated_at      112718
dtype: int64

In [21]:
Offices['updated_at'].duplicated().sum()

np.int64(112717)

In [22]:
Offices['updated_at'].unique()

array([nan])

In [23]:
Objects['closed_at'].isna().sum()

np.int64(459842)

In [24]:
Objects['funding_total_usd'].value_counts()

funding_total_usd
0.0           434777
1000000.0        697
500000.0         523
100000.0         480
2000000.0        452
               ...
2994549.0          1
119998.0           1
851242.0           1
55350000.0         1
4111500.0          1
Name: count, Length: 9721, dtype: int64

In [25]:
Offices['created_at'].describe()

count    0.0
mean     NaN
std      NaN
min      NaN
25%      NaN
50%      NaN
75%      NaN
max      NaN
Name: created_at, dtype: float64

In [26]:
Objects.sort_values('funding_total_usd')

,id,entity_type,entity_id,parent_id,name,normalized_name,permalink,category_code,status,founded_at,...,last_funding_at,funding_rounds,funding_total_usd,first_milestone_at,last_milestone_at,milestones,relationships,created_by,created_at,updated_at
231325,p:128730,Person,128730,NaN,Sævar Ólafsson,sævar ólafsson,/person/svar-lafsson,NaN,operating,NaN,...,NaN,0,0.000000e+00,NaN,NaN,0,1,ingirafn,2012-03-13 15:30:59,2012-03-20 23:33:25
308440,p:213274,Person,213274,NaN,Jordan Graves,jordan graves,/person/jordan-graves,NaN,operating,NaN,...,NaN,0,0.000000e+00,NaN,NaN,0,0,blackstrawberry,2013-07-29 08:18:24,2013-07-30 21:28:55
308439,p:213273,Person,213273,NaN,sam abum,sam abum,/person/sam-abum,NaN,operating,NaN,...,NaN,0,0.000000e+00,NaN,NaN,0,0,brawstyle,2013-07-29 08:12:47,2013-07-30 21:28:54
308438,p:213272,Person,213272,NaN,Lance Massey,lance massey,/person/lance-massey,NaN,operating,NaN,...,NaN,0,0.000000e+00,NaN,NaN,0,3,angellist,2013-07-29 08:03:47,2013-07-29 08:17:22
308437,p:213271,Person,213271,NaN,Seth Horowitz,seth horowitz,/person/seth-horowitz,NaN,operating,NaN,...,NaN,0,0.000000e+00,NaN,NaN,0,1,angellist,2013-07-29 08:03:47,2013-07-29 08:06:49
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
175825,c:64365,Company,64365,NaN,Carestream,carestream,/company/carestream-health,biotech,operating,2007-01-01,...,2013-06-12,1,2.400000e+09,1991-01-01,1991-01-01,1,2,NaN,2010-12-19 10:34:00,2013-11-26 09:49:49
161551,c:5,Company,5,NaN,Facebook,facebook,/company/facebook,social,ipo,2004-02-01,...,2011-01-21,11,2.425700e+09,2009-01-10,2013-12-12,5,269,initial-importer,2007-05-25 21:22:15,2013-08-27 14:41:51
97784,c:242735,Company,242735,NaN,sigmacare,sigmacare,/company/sigmacare,health,operating,2005-01-01,...,2013-07-29,1,2.600000e+09,NaN,NaN,0,2,prasant2013,2013-07-30 04:33:10,2013-07-30 04:33:10
160023,c:4843,Company,4843,NaN,"Verizon Communications, Inc.",verizon communications,/company/verizon,mobile,ipo,NaN,...,2012-03-05,2,3.985050e+09,2011-12-01,2013-12-09,3,93,joel,2008-04-30 05:02:38,2013-11-25 14:41:38
4575,c:13219,Company,13219,NaN,Clearwire,clearwire,/company/clearwire,mobile,acquired,2003-10-01,...,2013-02-27,4,5.700000e+09,2009-01-01,2013-07-08,2,19,jeffwidman,2008-11-07 02:12:50,2013-10-30 20:19:48